spring:
  application:
    name: coupon-service

  h2:
    console:
      enabled: true
      path: /h2-console

  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:~/coupon_service_db;MODE=MySQL
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    type: trace
    properties:
      hibernate:
        format_sql: true

